@font-face {
  font-family: "Gilroy";
  src:
    url("fonts/gilroyextrabold.woff2") format("woff2"),
    url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("fonts/gilroylight.woff2") format("woff2"),
    url("fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("fonts/opensans.woff2") format("woff2"),
    url("fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("fonts/opensanslight.woff2") format("woff2"),
    url("fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.main__user__navigation,
.main__shop__list,
.catalog__list,
.service__list,
.slider__slides,
.slider__dots,
.popular__list,
.service__detail__list,
.logo__list,
.breadcrumbs,
.filter__list,
.sort__list,
.sort__updown__list,
.pagination__list {
  list-style: none;
}

.main__navigation {
  background-color: #f7e296;
}

/* .main__navigation__part1,
.main__navigation__part2 {
  background-color: #f7e296;
} */

.main__navigation__part1 {
  /* display: none; */
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.main__navigation__part2 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  text-transform: uppercase;
}

.menu__navigation .catalog__list {
  display: none;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.slider__number {
  display: none;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", Arial, sans-serif;
  /* color: #ffffff; */
}

.slider__product__presentation .slogan {
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.slider__product__presentation p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.slider__product__detail {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  text-transform: uppercase;
}

.slider__product__info dt {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.slider__product__info dd {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.popular__wrap {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.service__wrap .service__button {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  text-transform: uppercase;
}

.service_detail__wrap h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.service_detail__wrap p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.description h2,
.contacts__description h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.description p,
.contacts__description p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.description .delivery__list {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.about__us .delivery__list {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.main__footer {
  background-color: #464646;
}

.main__footer ul {
  list-style: none;
}

.main__footer .user__nav__list a,
.main__footer .shop__list a{
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
  /* color: #000000; */
}

.main__footer p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
  /* color: #000000; */
}

.main__footer .service__list a {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #ffffff;
  /* color: #000000; */

  text-transform: uppercase;
}

.modal__writeus {
  display: none;
}

.modal__map {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
