@font-face {
  font-family: "Gilroy";
  src:
    url("fonts/gilroyextrabold.woff2") format("woff2"),
    url("fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("fonts/gilroylight.woff2") format("woff2"),
    url("fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("fonts/opensans.woff2") format("woff2"),
    url("fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("fonts/opensanslight.woff2") format("woff2"),
    url("fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000000;
}

/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1140px;
  min-height: 2795px;
}

body {
  /* Временно для сетки */
  /* background-image: url('../img/device-index.jpg'); */
  background-size: 1140px auto;
  background-repeat: no-repeat;
}

.main__header {
  border: 1px solid green;
  width: 860px;
  margin: 21px auto 0px;
  /* Временно для сетки */
  min-height: 300px;

}

.main__header__logo {
  opacity: 1;
}

.main__header__logo:hover,
.main__header__logo:focus {
  opacity: 0.6;
}

.main__header__logo:active {
  opacity: 0.3;
}


.main__navigation {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  width: 860px;
  margin: 40px auto 0px;

  background-color: #f7e296;
  /* Временно для сетки */
  min-height: 300px;
  /* background-color: transparent; */
}

.main__navigation .container:first-child {
  border: 1px solid red;
  width: 480px;
  /* margin: 0 auto; */
  /* Временно для сетки */
  /* min-height: 100px; */
}

.container:first-child input {
  background-color: #f7e296;
  border: none;
  color: rgba(0, 0, 0, 0.3);
}

.container:first-child input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.container:first-child input:focus {
  color: rgba(0, 0, 0, 1);
}

.container:first-child .search__button {
  background-color: #f7e296;
  border: none;
}

.container:first-child .catalog__reference {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.container:first-child .catalog__button {
  background-color: #f7e296;
  border: none;
  opacity: 0.3;
}

.container:first-child a {
  opacity: 1;
}

.container:first-child a:hover,
.container:first-child a:focus {
  opacity: 0.6;
}

.container:first-child a:active {
  opacity: 0.3;
}

.container:first-child .catalog__container {
  display: flex;
  justify-content: space-between;
}

.container:first-child .catalog__list {
  display: flex;
  /* display: none; */
  flex-direction: column;
  padding: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;

  list-style: none;

}

.main__navigation .container:last-child {
  border: 1px solid red;
  width: 480px;
  /* margin: 0 auto; */
  /* Временно для сетки */
  /* min-height: 200px; */
}

.container:last-child .container__wrapper {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
}

.container:last-child .user__navigation {
  border: 1px solid yellow;
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;

  opacity: 1;

  list-style: none;

}

.container:last-child .user__navigation a:hover,
.container:last-child .user__navigation a:focus {
  opacity: 0.6;
}

.container:last-child .user__navigation a:active {
  opacity: 0.3;
}


.container:last-child .shop__list {
  border: 1px solid yellow;
  display: flex;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;

  opacity: 1;
  /* justify-content: space-around; */
  list-style: none;
}

.container:last-child .shop__list a:hover,
.container:last-child .shop__list a:focus {
  opacity: 0.6;
}

.container:last-child .shop__list a:active {
  opacity: 0.3;
}

.shop__item a {
  border: 1px solid red;
}

.container:last-child .service__list {
  border: 1px solid yellow;
  display: flex;
  justify-content: space-between;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  letter-spacing: 0.2em;

  text-transform: uppercase;

  list-style: none;

  opacity: 1;
}

.container:last-child .service__list a:hover,
.container:last-child .service__list a:focus {
  opacity: 0.6;
}

.container:last-child .service__list a:active {
  opacity: 0.3;
}

.container:last-child .service__item {
  border: 1px solid red;
}

.container .slider__slides {
  list-style: none;
}

.container .slider__number {
  display: none;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", Arial, sans-serif;
  /* color: #ffffff; */
}

.slider__product__presentation .slogan {
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.slider__product__presentation p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.slider__button {
  display: block;
  position: relative;
  width: 220px;
  padding-top: 10px;
  text-align: center;
  /* padding-left: 41px; */
  padding-bottom: 10px;
  border: 1px solid red;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  text-transform: uppercase;

}

.slider__button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 18px;
  left: 0px;

  width: 100%;
  height: 8px;
  background-color: #f0c52e;

}

.slider__button:hover,
.slider__button:focus {
  display: block;
  position: relative;
  width: 220px;
  padding-top: 10px;
  /* padding-left: 41px; */
  text-align: center;
  padding-bottom: 10px;
  /* border: 1px solid red; */
  background-color: #f0c52e;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  text-transform: uppercase;

}

.slider__button:hover::before,
.slider__button:focus::before {
  display: none;
}

.slider__button:active {
  display: block;
  position: relative;
  width: 220px;
  padding-top: 10px;
  text-align: center;
  /* padding-left: 41px; */
  padding-bottom: 10px;
  /* border: 1px solid red; */
  background-color: #f0c52e;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);

  text-transform: uppercase;

}

.slider__button:active::before {
  display: none;
}

.slider__product__info dt {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.slider__product__info dd {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.container .slider__dots {
  list-style: none;
}

.slider__dot {
  background-color: #ffffff;
  border: none;
}

.popular__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.popular__item {
  border: 1px solid green;
  width: 160px;
}

.popular__item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular__item .popular__wrap {
  position: relative;
}

.popular__item .popular__wrap::after {
  position: absolute;
  content: "";
  background-color: #f7e296;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  z-index: -1;
}

.popular__item .popular__wrap:hover::after,
.popular__item .popular__wrap:focus::after {
  background-color: #f0c52e;
}

.popular__item .popular__wrap:hover:active,
.popular__item .popular__wrap:focus:active {
  background-color: #f0c52e;
}

.popular__wrap .displayed__background {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;
}

.popular__item a:active {
  opacity: 0.3;
}

.popular__wrap img {
  border: 1px solid red;
}

.popular__item p {
  border: 1px solid red;
  margin: 0;
  margin-top: 38px;

  height: 80px;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.service .service__list {
  list-style: none;
}

.service .service__button {
  display: block;
  position: relative;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  background-color: transparent;
  border: 1px solid red;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.service .service__button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 18px;
  left: 0px;

  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.service .service__button:hover,
.service .service__button:focus {
  display: block;
  position: relative;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f0c52e;
}

.service .service__button:active {
  display: block;
  position: relative;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #000000;

  color: #f7e184;
}

.service .service__detail__list {
  list-style: none;
}

.service__detail__wrap h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.service__detail__wrap p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.logo .logo__list {
  list-style: none;
  display: flex;
}

.logo .logo__animate {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 100px;
}

.logo__animate img {
  position: absolute;
  left: 0;
  top: 0;
}

.logo__animate .first {
  opacity: 1;
}

.logo__animate .second {
  opacity: 0;
}

.logo__animate .first:hover,
.logo__animate .first:focus {
  opacity: 0;
}

.logo__animate .second:hover,
.logo__animate .second:focus {
  opacity: 1;
}

.description h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.description p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.contacts__description h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.contacts__description p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.description .delivery__list {
  list-style-type: circle;
  color: #e6e6e6;

}

.delivery__item span {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.description .service__button {
  display: block;
  position: relative;
  width: 260px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  background-color: transparent;
  border: 1px solid red;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.description .service__button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 18px;
  left: 0px;

  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.description .service__button:hover,
.description .service__button:focus {
  display: block;
  position: relative;
  width: 260px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f0c52e;
}

.description .service__button:active {
  display: block;
  position: relative;
  width: 260px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: rgba(0, 0, 0, 0.3);
}

.contacts__description .service__button {
  display: block;
  position: relative;
  width: 260px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  background-color: transparent;
  border: 1px solid red;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts__description .service__button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 18px;
  left: 0px;

  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.contacts__description .service__button:hover,
.contacts__description .service__button:focus {
  display: block;
  position: relative;
  width: 260px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f0c52e;
}

.contacts__description .service__button:active {
  display: block;
  position: relative;
  width: 260px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: rgba(0, 0, 0, 0.3);
}

.main__footer {
  border: 1px solid green;
  width: 100%;
  height: 323px;

  background-color: #464646;
}

.main__footer .user__menu {
  display: flex;
  justify-content: space-around;
}

.main__footer .logo__footer:hover,
.main__footer .logo__footer:focus {
  opacity: 0.6;
}

.main__footer .logo__footer:active {
  opacity: 0.3;
}

.main__footer .user__nav__list {
  list-style: none;

  display: flex;
}

.user__nav__list a {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
}

.user__nav__list a:hover,
.user__nav__list a:focus {
  opacity: 0.6;
}

.user__nav__list a:active{
  opacity: 0.3;
}

.main__footer .shop__list {
  display: flex;
  list-style: none;
}

.main__footer .shop__list a {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
}

.main__footer .shop__list a:hover,
.main__footer .shop__list a:focus {
  opacity: 0.6;
}

.main__footer .shop__list a:active {
  opacity: 0.3;
}

.main__footer .contacts {
  display: flex;
  justify-content: space-around;
}

.contacts p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
}

.main__footer .service__list a {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #ffffff;
  /* color: #000000; */
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main__footer .service__list a:hover,
.main__footer .service__list a:focus {
  opacity: 0.6
}

.main__footer .service__list a:active {
  opacity: 0.3;
}

.main__footer .service__list {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  margin: 0;
  padding: 0;

  border: 1px solid yellow;
}

.main__footer .service__item {

}

.main__footer .socials__list {
  list-style: none;
}

.main__footer .socials__item {
  opacity: 0.3;
}

.main__footer .socials__item:hover,
.main__footer .socials__item:focus {
  opacity: 0.6;
}

.main__footer .socials__item:active {
  opacity: 0.1;
}

.main__footer .copyright {
  opacity: 1;
}

.main__footer .copyright:hover,
.main__footer .copyright:focus {
  opacity: 0.6;
}

.main__footer .copyright:active {
  opacity: 0.3;
}

.modal__writeus {
  display: none;
}

.modal__map {
  display: none;
}

/***************************************************************/
/************catalog.html********************************/

.container .breadcrumbs {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;

  list-style: none;

  display: flex;

  border: 2px solid red;
}



.container .breadcrumbs li {
  opacity: 0.3;
}

.container .breadcrumbs li:hover,
.container .breadcrumbs li:focus {
  opacity: 0.6;
}

.container .breadcrumbs li:active {
  opacity: 0.1;
}

.container .page__container {
  display: flex;
}

.filters {
  border: 1px solid green;
}

.filters p {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filters legend {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.filters fieldset {
  border: none;
}

.filters span,
.filters input {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.filters .filter__list {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;

  list-style: none;
}

.filters .button {
  display: block;
  position: relative;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  background-color: transparent;
  border: 1px solid red;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filters .button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 18px;
  left: 0px;

  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.filters .button:hover,
.filters .button:focus {
  display: block;
  position: relative;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f0c52e;
}

.filters .button:active {
  display: block;
  position: relative;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: rgba(0, 0, 0, 0.3);
}

.container .sort {
  border: 1px solid blue;
}

.sort h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sort .sort__list {
  list-style:  none;

  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
}

.sort .sort__list .sort__item {
  opacity: 0.3;
}

.sort .sort__list .sort__item:hover,
.sort .sort__list .sort__item:focus {
  opacity: 0.6;
}

.sort .sort__list .sort__item:active {
  opacity: 1;
}

.sort .sort__updown__list {
  list-style:  none;

  display: flex;
}

.container .catalog {
  border: 1px solid yellow;
}

.container .catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.catalog .catalog__list {
  list-style: none;
}

.catalog__contant h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.catalog__contant p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

.container .pagination {
  border: 1px solid red;

  display: flex;
}

.container .pagination a {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.container .pagination .pagination__list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
